.THIS .cursor-pointer {
    cursor: pointer;
}

.THIS.floating-cart {
    top: 0;
    right: 0;
    z-index: 1000000;
}

.THIS .cart-items-indicator {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    background-color: #76C2AF;
    color: white;
    font-weight: bold;
    border-radius: 50%;
}